.footer{
  border-top: 1px solid rgba(204, 204, 204, 0.219);
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: black;
}

.footer-icons{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.footer-link{
    align-items: center;
    padding: 5px 9px;
    margin-top: 10px;
    font-size: 15px;
}

.footer-icons svg{
  color: #1DA1F2;
  font-size: 23px;
}

.footer-icons a{
  text-decoration: none;
}
