.footer{
  border-top: 1px solid rgba(204, 204, 204, 0.219);
  position: fixed;
  bottom: 0px;
  padding-bottom: 10px;
  width: 100%;
  height: 10%;
  background-color: black;
}

.footer-icons{
  display: flex;
 justify-content: space-between;
 align-items: center;
}

.footer-link{
    align-items: center;
    padding: 12px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.footer-icons svg{
  color: #1DA1F2;
  font-size: 23px;
}

.footer-icons a{
  text-decoration: none;
}