

/*Desktop View*/

.Navbar{
  display: none;
}
.nav-options{
  display: none;
}

.mobile-option {
  display: none;
}

.option :hover {
  color: white;
}

.mobile-menu {
  display: none;
}
.mobile-menu {
  display: block;
}

@media (max-width: 648px) {
  /*Mobile View */
 
  .Navbar svg{
    font-size: 25px;
    color: #1DA1F2;
  }
  .Navbar {
    display: flex;
    background: #000;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    height: 80px;
  }
  .Nav-header img{
    padding: 15px;
    width: 45px;
    height: 50px;
    border-radius: 50%;
  }

  .mobile-menu img{
    padding: 15px;
    width: 45px;
    height: 50px;
    border-radius: 50%;
  }

  .Nav-header{
    border-bottom: 1px solid rgba(204, 204, 204, 0.219);
  }

  .nav-options {
    display: flex;
    width: 70%;
    position: absolute;
    top: 60px;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    grid-gap: 18px;
  }
  .nav-options.active {
    background: #000;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  
h3{
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-left: 15px;
}

.name{
  font-size: 14px;
  margin-right: 15px;
  margin-left: 15px;
}

.follow{
  margin-right: 10px;
}

.span1{
  display: flex;
  font-size: 15px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
}
  .option {
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
  }

  .option a{
    color: rgba(255, 255, 255, 0.835);
    text-decoration: none;
  }
  .option svg{
    color: rgba(204, 204, 204, 0.424);
    text-align: center;
    margin-right: 15px;
  }

  .list-items{
    padding: 0 15px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.219);
  }

  .ds{
    display: flex;
    align-items: center;
  }

  .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  span svg{
    font-size: 20px;
  }

  .logoutbtn{
    margin-bottom: 18px;
  }

  .logoutbtn a{
    color: #fff;
    text-decoration: none;
  }

}
