/*Desktop View*/

.Navbar {
  display: none;
}

.nav-options {
  display: none;
}

.mobile-option {
  display: none;
}

.option :hover {
  color: white;
}

.mobile-menu {
  display: none;
}

.mobile-menu {
  display: block;
}

@media (max-width: 648px) {
  /*Mobile View */
  .Navbar svg {
    font-size: 25px;
    color: #1DA1F2;
  }
  .Navbar {
    display: flex;
    position: fixed;
    width: 96%;
    background: #000;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 65px;
  }
  .Nav-header img {
    padding: 15px;
    width: 45px;
    height: 50px;
    border-radius: 50%;
  }
  .mobile-menu img {
    padding: 15px;
    width: 45px;
    height: 50px;
    border-radius: 50%;
  }
  .Nav-header {
    border-bottom: 1px solid rgba(204, 204, 204, 0.219);
  }
  .nb {
    margin-top: 290px;
  }
  .nav-options {
    display: flex;
    width: 70%;
    position: absolute;
    top: 12px;
    margin-top: 40px;
    height: 730px;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    grid-gap: 18px;
    overflow-y: scroll;
  }
  .nav-options.active {
    z-index: 1;
    background: #000;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-options.active >.content{
    background-color: blanchedalmond;
  }
  h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .name {
    font-size: 14px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .follow {
    margin-right: 10px;
  }
  .span1 {
    display: flex;
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .option {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 35px;
  }
  .option a {
    color: rgba(255, 255, 255, 0.835);
    text-decoration: none;
  }
  .option svg {
    color: rgba(204, 204, 204, 0.424);
    text-align: center;
    margin-right: 15px;
  }
  .list-items {
    padding: 0 15px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.219);
  }
  .list-items:last-child {
    border-bottom: none;
  }
  .ds {
    display: flex;
    align-items: center;
  }
  .toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logoutbtn {
    margin-bottom: 18px;
  }
  .logoutbtn a {
    color: #fff;
    text-decoration: none;
  }
}