/* .Navbar-menu{
  background-color: #000;
  color: ;
}
.Navbar-links{
  display: block;
  position: absolute;
  flex-direction: column;
  text-align: center;
  width: 100%;
  top: 80px;
  left: -100%;
  transition: 0.5s all;
}

.Nav-links a{
  text-decoration: none;
} */