body{
  background-color: #000;
  height: 100%;

}
.wrapper{
  display: flex;
  min-height: 100%;
}

@media (max-width: 640px) {
 .container{
   width: 100%;
 }
 .post-content{
   justify-content: center;
 }
 .post-svg{
  margin-left: 78px;
 }
 .post-img{
   padding-top: 5px;
 }
 .post-img img{
  width: 45px;
  height: 45px;
  margin: 0;
  border-radius: 50%;
}
.posts{
  padding: 0;
}
 .pd span{
   font-size: 13px;
 }
 .post-name span{
  color: #51565a;
  font-size: 12px;
  font-weight: 500;
 }
 .post-text{
   font-size: 14px;
   margin-left: 59px;
 }
 .icons{
   margin-top: 17px;
   margin-left: 16px;
   margin-right: 0;
 }
 .icons span{
   margin-left: 8px;
 }
 .m-icons{
  width: 100%;
 }
 .wrapper{
   margin-left: 10px;
   margin-right: 10px;
   }
 .content{
   border: none;
   width: 100%;
   margin-top: 100px;
   margin-bottom: 70px;
 }
  .header-icon{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .bottom-header{
    display: none;
  }
  .span span{
    font-size: 14px;
  }
}

@media (min-width: 640px) {
  .Navbar{
    display: none;
  }
  .footer{
    display: none;
  }
}