body{
  background-color: #000;
  height: 100%;

}
.wrapper{
  display: flex;
  min-height: 100%;
}

@media (max-width: 640px) {
 .container{
   width: 100%;
 }
 .post-svg{
   margin-left: 30px;
 }
 .post-content{
   padding: 0;
 }
 .post-img{
   padding-top: 5px;
 }
 .post-name{
   margin-left: 12pxpx;
   font-size: 14px;
 }
 .post-name span{
  color: #51565a;
  font-size: 13px;
  font-weight: 500;
 }
 .post-txt{
   margin-left: 12px;
 }
 .icons{
   margin-bottom: 8px;
  margin-top: 17px;
 }
 .icons span{
   margin-left: 8px;
 }
 .m-icons{
  width: 100%;
 }
 .wrapper{
   margin-left: 10px;
   margin-right: 10px;
   }
 .content{
   border: none;
   width: 100%;
   margin-top: 100px;
   margin-bottom: 70px;
 }
  .header-icon{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .bottom-header{
    display: none;
  }
  .post-img img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

@media (min-width: 640px) {
  .Navbar{
    display: none;
  }
  .footer{
    display: none;
  }
}