body{
  background-color: #000;
  height: 100%;

}
.wrapper{
  display: flex;
  min-height: 100%;
}

@media (max-width: 640px) {
 .container{
   width: 100%;
 }
 .post-svg{
   margin-left: 30px;
 }
 .post-content{
   padding: 0;
 }
 .post-img{
   padding-top: 5px;
 }
 .post-name{
   margin-left: 5px;
   /* padding-left: 5px; */
 }
 .icon{
   display: flex;
   justify-content: space-between;
 }
 .m-icons{
  width: 100%;
 }
 .wrapper{
   margin-left: 10px;
   margin-right: 10px;
 }
 .content{
   border: none;
   width: 100%;
 }
  .header-icon{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .bottom-header{
    display: none;
  }
}

@media (min-width: 640px) {
  .Navbar{
    display: none;
  }
  .footer{
    display: none;
  }
}