body {
  background-color: #000;
  height: 100%;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
  .post-time {
    margin-left: 5px;
  }
  .post-img img {
    margin: 0;
  }
  .posts {
    padding: 0;
  }
  .post-name span {
    color: #51565a;
    font-weight: 500;
  }
  .post-username {
    font-size: 13px;
  }
  .post-details {
    margin-top: 0;
  }
  .post-name {
    font-size: 13px;
  }
  .post-text {
    font-size: 14px;
  }
  .icons {
    margin-right: 0;
  }
  .icons span {
    margin-left: 8px;
  }
  .m-icons {
    width: 100%;
  }
  .wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
  .content {
    border: none;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 70px;
  }
  .header-icon {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .bottom-header {
    display: none;
  }
  .span span {
    font-size: 14px;
  }

  .menu-content {
    width: 100%;
    left: 0;
    bottom: 0;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .canbtn {
    width: 100%;
  }
  .retweet{
    background-color: #1DA1F2;
    width: 45px;
    height: 45px;
    padding: 14px;
    border-radius: 100%;
    position: fixed;
    right: 0;
    bottom: 60px;
    margin-right: 25px;
    text-align: center;
  }
  .retweetbtn{
    border: none;
    background-color: #1DA1F2;
    color: #fff;
  }
  .post-svg{
    right: 8px;
  }
 
}

@media (max-width: 320px) {
  .icons {
    margin-left: 35px;
  }
  /* .post-svg {
    margin-left: 35px;
  } */
}

@media (min-width: 375px) {
  .icons {
    margin-left: 26px;
  }
  /* .post-svg {
    margin-left: 80px;
  } */
}

@media (min-width: 360px) {
  .icons {
    margin-left: 30px;
  }
  /* .post-svg {
    margin-left: 75px;
  } */
}

@media (min-width: 401px) {
  .icons {
    margin-left: 22px;
  }
  /* .post-svg {
    margin-left: 120px;
  } */
}

@media (min-width: 640px) {
  .Navbar {
    display: none;
  }
  .footer {
    display: none;
  }
  .overlay{
    display: none;
  }
  .icons {
    margin-left: 4px;
  }
  .retweet{
    display: none;
  }
}