
.top-header{
  font-size: 18px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.219);
}

.header-icon{
  padding: 13px;
  display: flex;
  justify-content: space-between;
}

.top-header svg{
  color: #1DA1F2;
}

.header-details{
  display: flex;
  align-items: center;
  padding: 15px;
}

.bottom-header img{
  width: 45px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
}

.new-tweet{
  margin-left: 15px;
  color: rgba(204, 204, 204, 0.452);
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 10px;
  background-color: #000;
}

.new-tweet:focus{
  outline: none;
}

.nav-details{
  width: 100%;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-icons{
  display: flex;
  margin-left: 70px;
  font-size: 20px;
  color: #1DA1F2;
}

.nav-icons svg{
  padding: 10px;
}

.btn{
  text-align: center;
  background-color: #1DA1F2;
  margin-right: 18px;
  border-radius: 20px;
  border: none;
  padding: 10px 15px 10px 15px;
}

.emp{
  border-top: 1px solid rgba(204, 204, 204, 0.219);
  border-bottom: 1px solid rgba(204, 204, 204, 0.219);
  margin-top: 5px;
  background-color: #15181C;
  padding-top: 10px;
}

.nav-icons svg:hover {
  background-color: #1da0f217;
  border-radius: 14px;
}

.post{
  border-bottom: 1px solid rgba(204, 204, 204, 0.219);
}

.posts{
  padding-top: 5px;
}

.post:last-child{
  border-bottom: 0;
}

.post-content{
  display: flex;
  padding: 10px;
  align-items: center;
}

.post-img img{
  width: 45px;
  height: 50px;
  border-radius: 50%;
}

.post-name{
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.post-name a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.post-svg{
  padding: 10px;
  color: #cccc;
  margin-left: 200px;
}

.post-svg:hover{
  background-color: #1da0f217;
  color: #1DA1F2;
  border-radius: 100%;
}

span{
  color: #51565a;
  font-size: 15px;
  font-weight: 400;
}

.post-text{
  margin-left: 10px;
  font-size: 15px;
  color: #D9D9D9;
}

.icon{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.icon span{
  margin-left: 10px;
}

.span{
  cursor: pointer;
}

.span:hover{
  color: #1DA1F2;
}

.span svg:hover{
  background-color: #1da0f217;
  /* border-radius: 15px; */
}

