
.top-header{
  font-size: 18px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.219);
}

.header-icon{
  padding: 13px;
  display: flex;
  justify-content: space-between;
}

.top-header svg{
  color: #1DA1F2;
}

.header-details{
  display: flex;
  align-items: center;
  padding: 15px;
}

.bottom-header img{
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
}

.new-tweet{
  color: rgba(204, 204, 204, 0.452);
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 10px;
  background-color: #000;
}

.new-tweet:focus{
  outline: none;
}

.nav-details{
  width: 100%;
}

.nav-icons{
  display: flex;
  font-size: 20px;
  color: #1DA1F2;
}

.nav-icons svg{
  padding: 10px;
}

.btn{
  text-align: center;
  background-color: #1DA1F2;
  margin-right: 18px;
  border-radius: 20px;
  border: none;
  padding: 10px 15px 10px 15px;
}

.emp{
  border-top: 1px solid rgba(204, 204, 204, 0.219);
  border-bottom: 1px solid rgba(204, 204, 204, 0.219);
  margin-top: 5px;
  background-color: #15181C;
  padding-top: 10px;
}

.nav-icons svg:hover {
  background-color: #1da0f217;
  border-radius: 14px;
}

.post{
  border-bottom: 1px solid rgba(204, 204, 204, 0.219);
}

.posts{
  padding-top: 5px;
}

.post:last-child{
  border-bottom: 0;
}

.post-img img{
  width: 45px;
  height: 45px;
  margin-left: 8px;
  border-radius: 50%;
}

.posts{
  display: flex;
  margin-top: 10px;
}

.post-details{
  margin-left: 13px;
}
.ps{
  display: flex;
}

.post-name{
  color: #fff;
}
.post-username{
  margin-left: 5px;
}

.post-details a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.post-svg{
  position: absolute;
  right: 460px;
  color: rgba(204, 204, 204, 0.548);
}

.post-svg:hover{
  background-color: #1da0f217;
  color: #1DA1F2;
  border-radius: 100%;
}

span{
  color: #51565a;
  font-size: 15px;
  font-weight: 400;
}

.post-text{
  font-size: 15px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 17px;
  color: #D9D9D9;
}

.post-time{
  margin-left: 5px;
}

.post-link svg{
 font-size: 14px;
 margin-left: 4px;
}

.icons{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-around;
}

.icons span{
  margin-left: 10px;
}

.span{
  cursor: pointer;
}

.span:hover{
  color: #1DA1F2;
}

.span svg:hover{
  background-color: #1da0f217;
  /* border-radius: 15px; */
}

.Nb {
  background: #000;
}

.lists{
 font-size: 14px;
 font-weight: 200;
}

.lists svg{
  color: #555657ea;
}

.link{
  margin-bottom: 25px;
}

.link a{
  padding: 12px 16px;
}
.btndiv{
  margin-top: 10px;
  text-align: center;
}
.canbtn{
  border-radius: 13px;
  border: none;
  color: #fff;
  background-color: #555657ea;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.menu-content {
  list-style: none;
  width: 23%;
  left: 44%;
  position: fixed;
  bottom: 0;
  /* top: 18%; */
  justify-content: center;
  transition: all 0.5s ease;
  flex-direction: column;
  border-radius: 10px;
  z-index: 1;
  padding: 16px 16px;
}
.menu-content.active {
  background: rgb(0, 0, 0);
  transition: all 0.5s ease;
  box-shadow: 4px 4px 10px 10px rgba(58, 57, 57, 0.308);
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.2;
}

