.search-bar{
  margin-left: 25px;
  margin-top: 5px;
  background-color: #202327;
  padding: 15px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.search-bar svg{
  font-size: 18px;
  color: #555557;
  font-weight: 400;
  margin-right: 20px;
}

.search-bar input{
 background: none;
 border: transparent;
}

.search-bar input::placeholder{
  font-size: 15px;
}

.search-bar input:focus{
  outline: none;
}

input{
  color: #ccc;
  font-size: 15px;
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title svg{
  color: #1DA1F2;
}

.wrap{
  background-color: #202327;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 10px;
}

.trend-wrap2{
  padding: 5px 13px 5px 13px;
  border-bottom: 1px solid #545455;
}

.trending{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending svg{
  color: #535353;
}

.trend-wrap2 h3{
  color: #535353;
  font-size: 14px;
  margin-top: 5px;
}
.trend-link{
padding: 5px;
}
.trend-link a{
  text-decoration: none;
  color: #0e88ec;
}

.trend-wrap2:last-child{
  border: none;
}

.trend-wrap2 h5{
  color: #535353;
}

.header-wrap{
 padding: 5px 13px 5px 13px;
 font-size: 15px;
 border-bottom: 1px solid #545455;
}